<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="data_processor_v4a.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="data_processor_v4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="data_processor_v1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        
        <data_processor_v4a.Properties.Settings>
            <setting name="Connection" serializeAs="String">
                <value>Server=REDDYS\SQLEXPRESS;Database=GS1_2022;Integrated Security=True;</value>
            </setting>
        </data_processor_v4a.Properties.Settings>
        <data_processor_v4.Properties.Settings>
            <setting name="Connection" serializeAs="String">
                <value>Server=REDDYS\SQLEXPRESS;Database=GS1_2022;Integrated Security=True;</value>
            </setting>
        </data_processor_v4.Properties.Settings>
        <data_processor_v1.Properties.Settings>
            <setting name="Connection" serializeAs="String">
                <value>Server=REDDYS\SQLEXPRESS;Database=GS1_2022;Integrated Security=True;</value>
            </setting>
        </data_processor_v1.Properties.Settings>
    </userSettings>
</configuration>
